<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <title>Author List</title>
    <style>
        .title {
            float: left;
            font-size: 18px;
        }

        .add {
            float: right;
        }
    </style>
</head>
<body>
<div class="panel panel-default">
    {% include 'nav.html' %}
    <!-- Default panel contents -->
   {% block container %}
   
   {% endblock %}

</div>
</body>

</html>
