<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <title>edit_press</title>
    <style>
        .panel {
            margin-top: 80px;
        }
        .input-group {
            margin-top:20px;
        }
        .btn-primary {
            float: right;
        }
    </style>
</head>
<body>
<div class="container row">
    <div class="col-md-4 col-md-offset-4 row panel">
        <div>
            <h3 class="text-center">编辑出版社</h3>
            <form class="form-horizontal" action="/edit_press/?id={{ press.id }}" method="post">
                {#    <h2 class="col-md-2 control-label">添加出版社</h2>#}
                <div class="input-group row">
                    <div class="input-group-addon">名称</div>
                    {#                    <div class="col-md-8">#}
                    <input type="text" class="form-control" id="name" name="name" value="{{ press.name }}">
                    {#                    </div>#}
                </div>

                <button class="btn-primary input-group " type="submit">提交</button>


            </form>
        </div>
    </div>
</div>


</body>

</html>
