<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-Type" charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
    <style>
        /*body {*/
        /*background-color: #eeeeee;*/
        /*}*/

        /*.login-box {*/
        /*margin-top: 50px;*/
        /*}*/
        .login-box {
            margin-top: 50px;
            /*background-color: #eeeeee;*/
        }
        .input-group {
            margin-top:20px;
        }
        .btn-success {
            float: right;
        }
        .help-block {
            margin-top: 10px;
            margin-bottom: 10px;
            color:red;
        }

    </style>
</head>
<body>
<form action="/login/" method="post">
    <div class="container login-box col-md-4 col-md-offset-4">
        <div class="">
            <h2 class="text-center">Login Page</h2>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-open"></i></span>
                <!--<i class="fa fa-mail-forward"></i>-->
                <input type="text" class="form-control" placeholder="your email address" name="email">
            </div>


            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i> </span>
                <input type="text" class="form-control" placeholder="your password" name="pwd">
            </div>

            <span class="help-block">{{ msg_error }}</span>

            <button class="btn-success input-group" type="submit">登录</button>

        </div>


    </div>
</form>


</body>
</html>