<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-Type" charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
    <style>
        /*body {*/
        /*background-color: #eeeeee;*/
        /*}*/

        /*.login-box {*/
        /*margin-top: 50px;*/
        /*}*/
        .login-box {
            margin-top: 50px;
            /*background-color: #eeeeee;*/
        }
        .input-group {
            margin-top:20px;
        }
        .btn-success {
            float: right;
        }
        .help-block {
            margin-top: 10px;
            margin-bottom: 10px;
            color:red;
        }

    </style>
</head>
<body>
{% block form_container%}

{% endblock %}

</body>
</html>


